<nav class="nav-menu">
    <div class="nav-brand">F1 AI Coach</div>
    <ul>
        <li><NavLink href="" Match="NavLinkMatch.All">Dashboard</NavLink></li>
        <li><NavLink href="sessions">Sessions</NavLink></li>
        <li><NavLink href="settings">Settings</NavLink></li>
    </ul>
</nav>
